body {
	background-color: lightgreen;
	margin: 0px;
}

.totalCollage {
	position: relative;
	margin: 0 auto;
	width: 560px;
	margin-top: 220px;
	z-index: 1;
}

.theCenter {
	background-color: orange;	
	border-style: solid;
	border-color: green;	
	height: 560px;	
	border-width: 5px;
}

.theCenter p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	padding-top: 10px;
}
#map {
	width: 360px;
	height: 360px;
	margin-top: 30px;
	margin-left: 90px;
	border-style: solid;
	border-color: green;
	border-width: 5px;
}

.pics {
	position: absolute;
	z-index: -1;
}

#fmA {
	top: 180px;
	left: -210px;
	transform: rotate(-60deg);
}
#fmB {
	top: -70px;
	left: -215px;
	transform: rotate(20deg);
}
#fmC {
	top: -170px;
	left: 15px;
	transform: rotate(-20deg);
}
#fmD {
	top: -170px;
	left: 245px;
	transform: rotate(20deg);
}
#fmE {
	top: -70px;
	left: 475px;
	transform: rotate(-20deg);
}
#fmF {
	top: 180px;
	left: 470px;
	transform: rotate(60deg);
}
#fmG {
	top: 430px;
	left: 475px;
	transform: rotate(20deg);
}
#fmH {
	top: 530px;
	left: 245px;
	transform: rotate(-20deg);
}
#fmI {
	top: 530px;
	left: 15px;
	transform: rotate(20deg);
}
#fmJ {
	top: 430px;
	left: -215px;
	transform: rotate(-20deg);
}
#fmA:hover,
#fmB:hover,
#fmC:hover,
#fmD:hover,
#fmE:hover,
#fmF:hover,
#fmG:hover,
#fmH:hover,
#fmI:hover,
#fmJ:hover {
	width: 400px;
	height: auto;
	border-style: solid;
	border-width: 5px;
	transform: rotate(0deg);
	transition-duration: 0.4s;
	z-index: 2;
}

@media only screen and (max-width: 780px) {
	.totalCollage {
		width: 460px;
	}
	#map {
		margin-left: 40px;
	}
	#fmA {
		left: -160px;
	}
	#fmB {
		left: -155px;
	}
	#fmD {
		left: 145px;
	}
	#fmE {
		left: 315px;
	}
	#fmF {
		left: 320px;
	}
	#fmG {
		left: 315px;
	}
	#fmH {
		left: 145px;
	}
	#fmJ {
		left: -155px;
	}
}

@media only screen and (max-width: 420px) {
	.totalCollage {
		width: 360px;
	}
	.theCenter p {
	font-size: 16px;
	}
	#map {
	width: 300px;
	height: 300px;
	margin-left: 20px;
	}
}

@media only screen and (max-width: 380px) {
	.totalCollage {
		width: 320px;
	}
	.theCenter p {
	font-size: 14px;
	}
	#map {
	width: 270px;
	height: 270px;
	margin-left: 15px;
	}
}

@media only screen and (max-width: 326px) {
	.totalCollage {
		width: 260px;
	}
	.theCenter p {
	font-size: 12px;
	}
	#map {
	width: 220px;
	height: 220px;
	margin-left: 10px;
	}
}