body {
	background-color: lightgreen;
	margin: 0px;
}

.totalBar {
	margin-left: 20px;
	display: flex;
}

.collage,
.list {
	font-size: 20px;	
	flex: 1;
}

.blog {
	font-size: 20px;
	flex: 4;
}

#greeting {
	font-size: 26px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mainContainer {
	position: relative;	
	width: 300px;
	height: 250px;
	margin-top: 20px;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
}

.theCard {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 1.0s linear;	
	-moz-transition: all 1.0s linear;
	-o-transition: all 1.0s linear;
	-ms-transition: all 1.0s linear;	
	transition: all 1.0s linear;
}

.theCard:hover {
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);	
	-moz-transform: rotateY(180deg);	
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);	
}

.cardFront {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #DEB887;
	-webkit-backface-visibility : hidden;
	backface-visibility : hidden;
	border-style: solid;
	border-width: 5px;
}

.cardFront p {
	font-size: 26px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 0px;
	margin-bottom: 0px;
}

.cardBack {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #228B22;
	-webkit-backface-visibility : hidden;	
	backface-visibility : hidden;
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);	
	-moz-transform: rotateY(180deg);	
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);	
}

.cardBack p {
	font-size: 20px;
	text-align: center;
	margin-left: 26px;
	margin-right: 26px;
}

@media only screen and (max-width: 800px) {
	.totalBar {
		margin-left: 2px;
	}
	.blog {
		flex: 1;
	}
}