.totalBar {
	margin-left: 20px;
	display: flex;
}

.collage,
.farm {
	font-size: 20px;	
	flex: 1;
}

.blog {
	font-size: 20px;
	flex: 4;
}

#userName,
#passWord,
.inputs {
	display: inline;
}

label {
	font-size: 18px;
}

#userName,
#passWord {
	font-size: 18px;
	padding: 6px;
	margin: 16px;
}

#getList,
#logout {
	font-size: 16px;
	padding: 10px;
	margin: 6px 16px 6px 16px;
	border-radius: 6px;	
}

#greeting,
#placeList {
	font-size: 18px;
}

li.entry {
	font-size: 18px;
	margin-left: 30px;	
}

#offeringNote,
#ourVegetables,
#ourCannedGoods {
	font-size: 18px;	
}

ul#vegList,
ul#cannedList,
ul#yourList {
	list-style-type: none;
}

li.listItem {
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: green;
	border-radius: 8px;
	padding: 8px 30px 8px 30px;	
	margin-bottom: 10px;
	margin-right: 40px;
}

.vegImage,
.canImage,
.listImage {
	padding-right: 14px;
}

.vegBtn,
.canBtn {
	font-size: 14px;
	float: right;
	padding: 4px 10px 4px 10px;
	margin-right: 10px;
	background-color: lightgreen;
	border-radius: 6px;
}

.listImage:hover {
	opacity: 0.5;
}

@media only screen and (max-width: 1100px) {
	.inputs {
		display: block;
	}	
}

@media only screen and (max-width: 820px) {
	.totalBar {
		margin-left: 2px;
		margin-bottom: 16px;
	}
	.blog {
		flex: 1;
	}
	#userName,
	#passWord {
		display: block;
	}
}